@media screen and (min-width:768px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media screen and (max-width:500px){
    .xscol-1 {width: 8.33%;}
    .xscol-2 {width: 16.66%;}
    .xscol-3 {width: 25%;}
    .xscol-4 {width: 33.33%;}
    .xscol-5 {width: 41.66%;}
    .xscol-6 {width: 50%;}
    .xscol-7 {width: 58.33%;}
    .xscol-8 {width: 66.66%;}
    .xscol-9 {width: 75%;}
    .xscol-10 {width: 83.33%;}
    .xscol-11 {width: 91.66%;}
    .xscol-12 {width: 100%;}
    }

* {
    box-sizing: border-box;
}
header {
    background-color:rgba(0, 0, 0, 0.596);
    height: 100px;
    position: relative;
}

.n2 {
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 5px;
    margin: 10px;
    text-align: right;
}
nav ul li {
    
    padding: 5px;
    margin: 10px;
    display: inline;
    list-style-type: none;
    
}
nav {
    position: absolute;
    top: 20px;
    left: 0px;
}
main {
    height: 500px;
}
.left {
    background-color: gainsboro;
}
ul li {
    list-style-type: none;
    text-align: center;
}
.left, .right, .content {
    height: 500px;
    float: left;
}
.content {
    background-color: thistle;
}
.right {
    background-color:gainsboro;
}
.right div {
    margin: 10px;
    padding: 30px;
    border: solid 0.5px gainsboro;
    width: 200x;
    height: 100px;
    background-color: rgb(192, 163, 163);
    text-align: center;
}

footer {
    background-color: gray;
    height: 100px;
    text-align: center;
    padding: 30px;
}